<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:v-on="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/3.3.7/dist/css/bootstrap.css}">
    <script th:src="@{/webjars/jquery/3.5.1/dist/jquery.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/3.3.7/dist/js/bootstrap.min.js}"></script>
    <script type="text/javascript" src="../js/vue/vue.min.js"></script>

    <script src="../bootstrap/bootstrap-paginator.js"></script>
</head>
<body>
<div id="app" class="container">
    <h1>床位管理</h1>
    <form action="" id="list_form">
<div class="form-group">
            <label for="bedStatus" class="col-sm-1 control-label">是否打扫：</label>
            <div class="col-sm-2">
                <input type="radio" class="form-control"  v-model="bedStatus" name="bedStatus" value="1">已打扫
                <input type="radio" class="form-control" v-model="bedStatus" name="bedStatus" value="1">未打扫
            </div>
        </div>
        <button type="button" class="btn btn-default" onclick="selectlistAll()">搜索</button>
    </form>
    <br>
    <button type="button" class="btn btn-default" title="新建" data-toggle="modal" data-target="#editModal" onclick="huixian(0);"><i class="fa fa-file-o"></i> 新建</button>
    <button type="button" class="btn btn-default" title="刷新" onclick="window.location.reload();"><i class="fa fa-refresh"></i> 刷新</button>
    <a class="btn btn-default" @click="piliang()">删除</a>
    <table class="table table-bordered">
        <tr>
            <th><input type="checkbox" name="check" id="qx" onclick="quanxuan()"></th>
            <th>id</th>
            <th>老人姓名</th>
            <th>是否整理</th>
            <th>楼层</th>
            <th>负责人</th>
            <th>房间号</th>
            <th>操作</th>
        </tr>
        <tr v-for="bed in bedList">
            <td>{{bed.bedId}}</td>
            <td>{{bed.OldName}}</td>
            <td>{{bed.bedStatus}}</td>
            <td>{{bed.storeyName}}</td>
            <td>{{bed.roomName}}</td>
            <td>{{bed.personName}}</td>
            <td>
                <a class="btn btn-default" data-toggle="modal" data-target="#editModal" @click="huixian(bed.bedId)">编辑</a>
                <a class="btn btn-default" @click="shanchu(bed.bedId)">删除</a>
            </td>
        </tr>
    </table>
    <div class="col-md-6">
        <strong>当前第 {{currPage}}页,每页<select style="width:50px;" v-model="pageSize" @change="shuaxin()">
            <option value="3">3</option>
            <option value="6">6</option>
            <option value="8">8</option>
            <option value="10">10</option>
        </select>条,共 {{totalPage}} 页.一共 {{total}} 条记录
        </strong>
    </div>
    <div id="example" style="text-align: right"> <ul id="pageLimit"></ul> </div>
</div>

<!--新建弹框-->
<div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" >
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h3 id="myModalLabel">床位管理</h3>
            </div>
            <form id="forms" method="post">
                <div class="modal-body" id="ppa">
                    <table class="table table-bordered table-striped"  width="800px">
                        <input class="form-control" name="bedId" style="display:none" v-model="list.bedId" readonly="readonly">
                        <tr>
                            <td>老人姓名</td>
                            <td> <input class="form-control" name="OldName" v-model="list.OldName"></td>
                        </tr>
                        <tr>
                            <td>是否打扫</td>
                            <td>
                                <input class="form-control" name="bedStatus" v-model="list.bedStatus">
                            </td>
                        </tr>
                        <tr>
                            <td>楼层</td>
                            <td>
                                <input class="form-control" name="storeyName" v-model="list.storeyName">
                            </td>
                        </tr>
                        <tr>
                            <td>房间</td>
                            <td>
                                <input class="form-control" name="roomName" v-model="list.roomName">
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-success" onclick="insert()" data-dismiss="modal" aria-hidden="true">保存</button>
                    <button class="btn btn-default" data-dismiss="modal" aria-hidden="true">关闭</button>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
<script type="text/javascript">
    var vm=new Vue({
        el:'#app',
        data:{
            costAll:"",
            totalPage:"",
            total:"",
            currPage:"1",
            pageSize:"3",
            bedStatus:""
        }
    })


    //新增
    function insert(){
        $.ajax({
            url:"/addBed",
            type:"post",
            data:$("#forms").serialize(),
            datatype:'json',
            success:function(){
                selectlistAll();
            },
        });
    }


    var vs = new Vue({
        el: '#ppa',
        data: {
            list:''
        }
    })

    function shuaxin(){
        selectlistAll();
    }
    function huixian(ids){
        $.ajax({
            url:"/findBedById",
            type:"post",
            data:{bedId:ids},
            success:function(data){
                vs.list=data;
            },
        });



    }
    function shanchu(ids){
        $.ajax({
            url:"/deleteBedById",
            type:"post",
            data:{bedId:ids},
            success:function(){
                alert("Nice成功");
                selectlistAll();
            }

        })
    }
    $(function(){
        selectlistAll();
    })
    function selectlistAll() {
        $.ajax({
            type:"post",
            url:"../Bed/findBed",
            data:{"currPage":vm.currPage,"pageSize":vm.pageSize,"bedStatus":vm.bedStatus},
            dataType:"json",
            success: function(result) {
                vm.bedList = result.rows;
                vm.totalPage = result.totalPage;
                vm.total = result.total;
                vm.currPage = result.currPage;
                vm.pageSize = result.pageSize;
                setPage(result.currPage,result.totalPage,result.pageSize,selectlistAll);
            },
            error : function() {
                alert("系统错误，请联系管理员！");
            }
        })
    }




    /**
     *
     * @param pageCurrent 当前所在页
     * @param pageSum 总页数
     * @param callback 调用ajax
     */
    function setPage(pageCurrent, pageSum, pageSize, callback) {
        $('#pageLimit').bootstrapPaginator({
            currentPage: pageCurrent,//当前的请求页面。
            totalPages: pageSum,//一共多少页。
            size:"normal",//应该是页眉的大小。
            bootstrapMajorVersion: 3,//bootstrap的版本要求。
            alignment:"right",
            numberOfPages:pageSize,//一页列出多少数据。
            itemTexts: function (type, page, current) {//如下的代码是将页眉显示的中文显示我们自定义的中文。
                switch (type) {
                    case "first": return "首页";
                    case "prev": return "上一页";
                    case "next": return "下一页";
                    case "last": return "末页";
                    case "page": return page;
                }
            },
            //当单击操作按钮的时候, 执行该函数, 调用ajax渲染页面
            onPageClicked: function (event,originalEvent,type,page) {
                // 把当前点击的页码赋值给currentPage, 调用ajax,渲染页面
                vm.currPage = page;
                callback && callback()
            }
        });
    }


</script>
</html>