<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jk.dao.CarefulMapper">

    <select id="findCarefulCount" parameterType="Careful" resultType="java.lang.Long">
        select count(*) from t_careful
    </select>

    <select id="findCarefulPage" resultType="Careful">
        <bind name="key_off" value="(currPage - 1)*pageSize"/>
        select * from t_careful limit ${key_off},${pageSize}
    </select>

    <insert id="addCareful" parameterType="Careful">
        insert into t_careful(careful_sum,creaful_care,creaful_room,creaful_left,creaful_type,old_id) values(#{carefulSum},#{carefulCare},#{carefulRoom},#{carefulLeft},#{carefulType},#{oldId})
    </insert>

    <update id="updateCareful" parameterType="Careful">
        update t_careful set careful_sum=#{carefulSum},creaful_care=#{carefulCare},creaful_room=#{carefulRoom},creaful_left=#{carefulLeft},creaful_type=#{carefulType},old_id=#{oldId} where careful_id=#{carefulId}
    </update>

    <delete id="deleteCarefulById" parameterType="int">
        delete from t_careful where careful_id=#{carefulId}
    </delete>

    <select id="findCarefulById" parameterType="int" resultType="Careful">
        select * from t_careful where careful_id=#{carefulId}
    </select>
</mapper>