<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jk.dao.EmpMapper">
    <select id="findPageEmpCount" resultType="java.lang.Long">
          select count(*) from t_emp a , t_emple b,t_position c ,t_proence e ,t_city f, t_area g
  where a.emple_id = b.emple_id and
        a.emp_position = c.position_id and
        a.sheng_id = e.provinceid and
        a.shi_id = f.cityid and
        a.xian_id = g.areaid
       </select>
    <select id="findPageEmp" resultType="Emp">
        <bind name="key_off" value="(currPage - 1)*pageSize"/>
        select a.*,b.emple_name empleName,c.position_name empPositionName,e.province shengName,f.city shiName,g.area xianName from t_emp a , t_emple b,t_position c ,t_proence e ,t_city f, t_area g
        where a.emple_id = b.emple_id and
        a.emp_position = c.position_id and
        a.sheng_id = e.provinceid and
        a.shi_id = f.cityid and
        a.xian_id = g.areaid
        limit ${key_off},${pageSize}
    </select>
</mapper>