<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:v-on="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/3.3.7/dist/css/bootstrap.css}">
    <script th:src="@{/webjars/jquery/3.5.1/dist/jquery.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/3.3.7/dist/js/bootstrap.min.js}"></script>
    <script type="text/javascript" src="../js/vue/vue.min.js"></script>

    <script src="../bootstrap/bootstrap-paginator.js"></script>
</head>
<body>

    <table class="table table-bordered">
        <tr>
            <th><input type="checkbox" name="check" id="qx" onclick="quanxuan()"></th>
            <th>id</th>
            <th>老人姓名</th>
            <th>是否整理</th>
            <th>楼层</th>
            <th>负责人</th>
            <th>房间号</th>
            <th>操作</th>
        </tr>
        <tr v-for="bed in bedList">
            <td>{{bed.bedId}}</td>
            <td>{{bed.OldName}}</td>
            <td>{{bed.bedStatus}}</td>
            <td>{{bed.storeyName}}</td>
            <td>{{bed.roomName}}</td>
            <td>{{bed.personName}}</td>
            <td>
                <a class="btn btn-default" data-toggle="modal" data-target="#editModal" @click="huixian(bed.bedId)">编辑</a>
                <a class="btn btn-default" @click="shanchu(bed.bedId)">删除</a>
            </td>
        </tr>
    </table>

</body>
<script type="text/javascript">
    var vm=new Vue({
        el:'#app',
        data:{
            costAll:"",
            totalPage:"",
            total:"",
            currPage:"1",
            pageSize:"3",
            bedStatus:""
        }
    })



    var vs = new Vue({
        el: '#ppa',
        data: {
            list:''
        }
    })


    $(function(){
        selectlistAll();
    })
    function selectlistAll() {
        $.ajax({
            type:"post",
            url:"../Bed/findBed",
            data:{"currPage":vm.currPage,"pageSize":vm.pageSize,"bedStatus":vm.bedStatus},
            dataType:"json",
            success: function(result) {
                vm.bedList = result.rows;
                vm.totalPage = result.totalPage;
                vm.total = result.total;
                vm.currPage = result.currPage;
                vm.pageSize = result.pageSize;
                setPage(result.currPage,result.totalPage,result.pageSize,selectlistAll);
            },
            error : function() {
                alert("系统错误，请联系管理员！");
            }
        })
    }




    /**
     *
     * @param pageCurrent 当前所在页
     * @param pageSum 总页数
     * @param callback 调用ajax
     */
    function setPage(pageCurrent, pageSum, pageSize, callback) {
        $('#pageLimit').bootstrapPaginator({
            currentPage: pageCurrent,//当前的请求页面。
            totalPages: pageSum,//一共多少页。
            size:"normal",//应该是页眉的大小。
            bootstrapMajorVersion: 3,//bootstrap的版本要求。
            alignment:"right",
            numberOfPages:pageSize,//一页列出多少数据。
            itemTexts: function (type, page, current) {//如下的代码是将页眉显示的中文显示我们自定义的中文。
                switch (type) {
                    case "first": return "首页";
                    case "prev": return "上一页";
                    case "next": return "下一页";
                    case "last": return "末页";
                    case "page": return page;
                }
            },
            //当单击操作按钮的时候, 执行该函数, 调用ajax渲染页面
            onPageClicked: function (event,originalEvent,type,page) {
                // 把当前点击的页码赋值给currentPage, 调用ajax,渲染页面
                vm.currPage = page;
                callback && callback()
            }
        });
    }


</script>
</html>