<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:v-on="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://cdn.bootcss.com/vue/2.5.2/vue.min.js"></script>
    <script src="https://cdn.bootcss.com/vue-router/3.0.1/vue-router.min.js"></script>
    <script src="https://cdn.bootcss.com/vuex/3.0.1/vuex.min.js"></script>
    <script src="../../bootstrap-paginator.js"></script>
</head>
<body style=" background:url(images/login_bg_0.jpg)">
<br><br>
<center><h4>
    <button type="button" class="btn btn-default" title="新建" data-toggle="modal" data-target="#editimg" onclick=""><i class="fa fa-file-o"></i> 欧洲风格</button>
    <button type="button" class="btn btn-default" title="新建" data-toggle="modal" data-target="#editimg2" onclick=""><i class="fa fa-file-o"></i> 埃及风格</button>
    <button type="button" class="btn btn-default" title="新建" data-toggle="modal" data-target="#editimg3" onclick=""><i class="fa fa-file-o"></i> 古风</button>
</h4></center>
    <br><br>

<div class="modal fade" id="editimg" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <img src="images/login_oz_03.jpg">
</div>
<div class="modal fade" id="editimg2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <img src="images/login_oz_01.jpg">
</div>
<div class="modal fade" id="editimg3" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <img src="images/login_oz_04.jpg">
</div>


    <div class="form-group">
        <label for="roomName1" class="col-sm-1 control-label"></label>
        <div class="col-sm-2">
            <input type="text" class="form-control" id="roomName1" v-model="roomName1" placeholder="请输入宿舍号">
        </div>
    </div>
    <button type="button"  class="btn btn-default" onclick="searchRoomList()">搜索</button>

<div id="app" class="container">
    <h1>宿舍房间管理</h1><button type="button" class="btn btn-default" title="新建" data-toggle="modal" data-target="#editModal" onclick="update(0);"><i class="fa fa-file-o"></i> 新建</button>
    <table class="table table-bordered">
        <tr>
            <th>Id</th>
            <th>宿舍楼名</th>
            <th>宿舍楼层</th>
            <th>房间名</th>
            <th>房间风格</th>
            <th>清洁人员</th>
            <th>操作</th>
        </tr>
        <tr v-for="room in roomList">
            <td>{{room.roomId}}</td>
            <td>{{room.dormName}}</td>
            <td>{{room.storeyName}}</td>
            <td>{{room.roomName}}</td>
            <td>{{room.typeName}}</td>
            <td>{{room.empName}}</td>
            <td><button type="button" class="RoleOfdelete btn btn-primary  btn-sm" style="margin-right:15px;" v-on:click="del(room.roomId)">删除</button>
                <button type="button" class="RoleOfdelete btn btn-primary  btn-sm" style="margin-right:15px;" data-toggle="modal" data-target="#editModal" v-on:click="update(room.roomId)">修改</button></td>
        </tr>
    </table>
    <div id="example" style="text-align:center"><ul id="pageLimit"></ul></div>
</div>


<div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" id="ppa">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h3 id="myModalLabel">楼房信息</h3>
            </div>
            <form id="forms" method="post">
                <div class="modal-body">
                    <table class="table table-bordered table-striped"  width="800px">
                        <input class="form-control" name="roomId" style="display:none" readonly="readonly" v-model="room.roomId">
                        <tr>
                            <td>楼名</td>
                            <td><input class="form-control" type="text" name="dormId" placeholder="楼名" v-model="room.dormId"></td>
                        </tr>
                        <tr>
                            <td>楼层</td>
                            <td><input class="form-control" type="text" name="storeyId" placeholder="楼层" v-model="room.storeyId"></td>
                        </tr>
                        <tr>
                            <td>房间名</td>
                            <td><input class="form-control" type="text" name="roomName" placeholder="房间名" v-model="room.roomName"></td>
                        </tr>
                        <tr>
                            <td>房间风格</td>
                            <td><input class="form-control" type="text" name="typeId" placeholder="房间风格" v-model="room.typeId"></td>
                        </tr>
                        <tr>
                            <td>清洁人员</td>
                            <td><input class="form-control" type="text" name="cleanerId" placeholder="清洁人员" v-model="room.cleanerId"></td>
                        </tr>
                    </table>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-default" onclick="insert()">保存</button>
                    <button class="btn btn-default" data-dismiss="modal" aria-hidden="true">关闭</button>
                </div>
            </form>
        </div>
    </div>
</div>


<script type="text/javascript">
    var vm = new Vue({
        el: '#app',
        data: {
            roomList: "",
            totalPage:"",
            total:"",
            currPage:"",
            pageSize:"",
            roomName1:""
        }
    })

    $(function() {
        searchRoomList();
    })

    function searchRoomList(){
        $.ajax({
            type:"get",
            url:"../room/findRoomPage",
            data:{"currPage":vm.currPage,"pageSize":vm.pageSize,"roomName":$("#roomName1").val()},
            dataType:"json",
            success: function(result) {
                console.log(result.rows)
                vm.roomList = result.rows;
                vm.totalPage = result.totalPage;
                vm.total = result.total;
                vm.currPage = result.currPage;
                vm.pageSize = result.pageSize;
                setPage(result.currPage,result.totalPage,result.pageSize,searchRoomList);
            },
            error : function() {
                alert("系统错误，请联系管理员！");
            }
        })
    }

    function setPage(pageCurrent,pageSum,pageSize,callback){
        $('#pageLimit').bootstrapPaginator({
            currentPage:pageCurrent,
            totalPages:pageSum,
            size:"normal",
            bootstrapMajorVersion:3,
            alignment:"right",
            numberOfPages:pageSize,
            itemTexts:function(type,page,current){
                switch(type){
                    case "first" : return "首页";
                    case "prev" : return "上一页";
                    case "next" : return "下一页";
                    case "last" : return "末页";
                    case "page" : return page;
                }
            },
            onPageClicked: function(event,originalEvent,type,page){
                vm.currPage = page;
                callback && callback()
            }
        });
    }

    function del(roomId){
        $.ajax({
            url:'../room/deleteByRoomId',
            type:'post',
            data:{"roomId":roomId},
            dataType:"json",
            success:function(){

            }
        })
        alert("删除成功");
        searchRoomList();
    }

    var vs = new Vue({
        el: '#ppa',
        data: {
            room:''
        }
    })

    function insert(){
        $.ajax({
            url:'../room/addRoom',
            type:'post',
            data:$('#forms').serialize(),
            success:function(){
                searchRoomList();
            }
        })
    }

    function update(roomId){
        $.ajax({
            url:"../room/findRoomById",
            type:"post",
            data:{"roomId":roomId},
            success:function(data){
                vs.room=data;
            },
        });
    }
</script>
<!--底部内容-->
<div class="jumbotron text-center" style="margin-bottom:0px">
    <p>©2020 Baidu&nbsp;&nbsp;(京)-经营性-2017-0020&nbsp;&nbsp;京公网安备11000002000001号&nbsp;&nbsp;京ICP证030173号</p>
</div>
</body>
</html>