<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.w3.org/1999/xhtml"
      xmlns:v-on="http://www.w3.org/1999/xhtml" >
<head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>老人信息列表 - Powered By SHOP++</title>
    <meta name="author" content="SHOP++ Team">
    <meta name="copyright" content="SHOP++">
    <link rel="stylesheet" href="../js/bootstrap3/css/bootstrap.css"/>
    <link rel="stylesheet" href="../js/bootstrap-treeview/bootstrap-treeview.min.css">
    <link rel="stylesheet" href="../js/bootStrap-addTabs/bootstrap.addtabs.css">
    <script src="../js/jquery-1.9.1.min.js"></script>
    <script src="../js/bootstrap3/js/bootstrap.js"></script>

    <script src="../js/bootstrap-treeview/bootstrap-treeview.min.js"></script>

    <script src="../js/bootStrap-addTabs/bootstrap.addtabs.min.js"></script>
    <script src="../js/vue/vue.min.js"></script>
    <script type="text/javascript">
        $().ready(function() {


        });
    </script>
    <script src="../bootstrap/bootstrap-paginator.js"></script>


</head>
<body>
<div class="breadcrumb">
    <a href="http://localhost:8080/shopxxb2b2c/admin/common/index">首页</a>
</div>
<form id="listForm" action="http://localhost:8080/shopxxb2b2c/admin/store_rank/list" method="get">
    <div class="pull-left">
        <div class="form-group form-inline">
            <div class="btn-group">
                <button type="button"  class="btn btn-default" title="新建" data-toggle="modal" data-target="#editModal" v-on:click="storeCategory = {}"><i class="fa fa-file-o"></i> 新建</button>
                <!--<button type="button" class="btn btn-default" title="删除" onclick="deleteStoreCategory()"><i class="fa fa-trash-o"></i> 删除</button>-->
                <button type="button" class="btn btn-default" title="刷新" onclick="window.location.reload();"><i class="fa fa-refresh"></i> 刷新</button>
            </div>
        </div>
    </div>
    <div id="app" class="container">

        <br>
        <table class="table table-bordered">
            <tr>
                <th class="" style="padding-right:0px">
                    <input id="selall" type="checkbox" class="icheckbox_square-blue">
                </th>
                <th>ID</th>
                <th>员工</th>
                <th>加班时间</th>
                <th>全勤</th>
                <th>迟到时间</th>
                <th>操作</th>
            </tr>
            <tr v-for="storeCategory in storeCategoryList">
                <td>
                    <input  type="checkbox" v-on:click="updateSelection($event, storeCategory.userId)">
                </td>
                <td>{{storeCategory.performanceId}}</td>
                <td>{{storeCategory.empName}}</td>
                <td>{{storeCategory.performanceWorkTime}}</td>
                <td>{{storeCategory.performanceQuanQin}}</td>
                <td>{{storeCategory.performanceLateTime}}</td>
                <td>
                    <button type="button" class="btn bg-olive btn-xs" data-toggle="modal" data-target="#editModal" v-on:click="findOne(storeCategory.performanceId)" >修改</button>
                    <button type="button" class="btn bg-olive btn-xs"  v-on:click="deleteStoreCategory(storeCategory.performanceId)" >删除</button>
                </td>
            </tr>
        </table>
        <div id="example" style="text-align: right"> <ul id="pageLimit"></ul> </div>

        <!-- 编辑窗口 -->
        <div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog" id="ppa" style="margin-right: 2000px">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                        <h3 id="myModalLabel">留言信息</h3>
                    </div>
                    <form id="userForm" method="post">
                        <div class="modal-body">
                            <table class="table table-bordered table-striped"  width="300px">
                                <tr>
                                    <td>编号</td>
                                    <td><input id="oldId" name="performanceId" class="form-control"  placeholder="编号" v-model="storeCategory.performanceId">  </td>
                                </tr>
                                <tr>
                                    <td>员工</td>
                                    <td><input id="oldName" name="performanceEmpId" class="form-control" placeholder="员工" v-model="storeCategory.performanceEmpId">  </td>
                                </tr>
                                <tr>
                                    <td>加班时间</td>
                                    <td><input id="oldPhone" name="performanceWorkTime" class="form-control" placeholder="加班时间" v-model="storeCategory.performanceWorkTime">  </td>
                                </tr>
                                <tr>
                                    <td>全勤</td>
                                    <td><input id="oldAge" name="performanceQuanQin" class="form-control" placeholder="全勤" v-model="storeCategory.performanceQuanQin">  </td>
                                </tr>
                                 <tr>
                                    <td>迟到时间</td>
                                    <td><input id="oldAge" name="performanceLateTime" class="form-control" placeholder="全勤" v-model="storeCategory.performanceLateTime"> </td>
                                </tr>
                            </table>
                        </div>
                        <div class="modal-footer">
                            <button class="btn btn-success" data-dismiss="modal" aria-hidden="true" onclick="saveStoreCategory()">保存</button>
                            <button class="btn btn-default" data-dismiss="modal" aria-hidden="true">关闭</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

    </div>
    <input type="hidden" id="pageSize" name="pageSize" value="20">
    <input type="hidden" id="searchProperty" name="searchProperty" value="name">
    <input type="hidden" id="orderProperty" name="orderProperty" value="">
    <input type="hidden" id="orderDirection" name="orderDirection" value="">
</form>



</body>
<script type="text/javascript">
    var vm = new Vue({
        el: '#app',
        data: {
            storeCategoryList: "",
            totalPage:"",
            total:"",
            currPage:"",
            pageSize:"",
            userName1:"",
            shengId:"",
            shiId:"",
            xianId:"",
            diqulist:"",
            diquname:"",
            diquid:"",
            storeCategory:""
        },
        methods: {


        },
        computed :{
        },
        watch : {

        }

    })
    function  changeProduct(){

    }
    $(function() {
        searchStoreCategoryList();

    })
    function getSheng () {
        $.ajax({
            type:"post",
            url:"../oldPeople/getSheng",
            data:"",
            dataType:"json",
            success: function(data) {
                console.log(data)


                vm.diqulist=data
            },
            error : function() {
                alert("系统错误，请联系管理员！");
            }
        })
    }
    function searchStoreCategoryList() {
        $.ajax({
            type:"post",
            url:"../performance/findPagePerformance",
            data:{"currPage":vm.currPage,"pageSize":vm.pageSize,"userName":vm.userName1},
            dataType:"json",
            success: function(result) {
                console.log(result.rows)
                vm.storeCategoryList = result.rows;
                vm.totalPage = result.totalPage;
                vm.total = result.total;
                vm.currPage = result.currPage;
                vm.pageSize = result.pageSize;
                setPage(result.currPage,result.totalPage,result.pageSize);
            },
            error : function() {
                alert("系统错误，请联系管理员！");
            }
        })
    }
    /**
     *
     * @param pageCurrent 当前所在页
     * @param pageSum 总页数
     * @param callback 调用ajax
     */
    function setPage(pageCurrent, pageSum, pageSize) {
        $('#pageLimit').bootstrapPaginator({
            currentPage: pageCurrent,//当前的请求页面。
            totalPages: pageSum,//一共多少页。
            size:"normal",//应该是页眉的大小。
            bootstrapMajorVersion: 3,//bootstrap的版本要求。
            alignment:"right",
            numberOfPages:pageSize,//一页列出多少数据。
            itemTexts: function (type, page, current) {//如下的代码是将页眉显示的中文显示我们自定义的中文。
                switch (type) {
                    case "first": return "首页";
                    case "prev": return "上一页";
                    case "next": return "下一页";
                    case "last": return "末页";
                    case "page": return page;
                }
            },
            //当单击操作按钮的时候, 执行该函数, 调用ajax渲染页面
            onPageClicked: function (event,originalEvent,type,page) {
                // 把当前点击的页码赋值给currentPage, 调用ajax,渲染页面
                vm.currPage = page;
                searchStoreCategoryList();
            }
        });
    }
    vm.selectIds = [];
    //复选框选中
    function updateSelection($event, id) {
        if ($event.target.checked) {
            vm.selectIds.push(id);
        } else {
            var idx = vm.selectIds.indexOf(id);
            vm.selectIds.splice(idx, 1);//删除
        }

        console.info(vm.selectIds.toString());
    }

    //删除
    function deleteStoreCategory(userId) {
        $.ajax({
            type:'post',
            url:'../performance/deletePerformance',
            data:{performanceId: userId},
            dataType:'json',
            success:function (result) {
                alert("成功");
                searchStoreCategoryList();
                $("input[type='checkbox']").prop("checked", false);

            },
            error: function (result) {
                searchStoreCategoryList();
            }
        })
    }
    //保存
    function saveStoreCategory() {
        $.ajax({
            type:'post',
            url:'../performance/addPerformance',
            data:$("#userForm").serialize(),
            dataType:'json',
            success: function (result) {
                searchStoreCategoryList();
            },
            error: function () {
                searchStoreCategoryList();
            }
        })
    }
    /*function update(ideaId){
        $.ajax({
            url:"../idea/findOne",
            type:"post",
            data:{"ideaId":ideaId},
            success:function(data){
                vs.idea=data;
            },
        });
    }*/
    //修改回显
    function findOne(id) {
        $.ajax({
            type:'post',
            url:'../performance/findPerformanceById',
            data:{performanceId: id},
            dataType: 'json',
            success: function (result) {
            console.log(result)
                vm.storeCategory=result

            },
            error: function () {
                alert("系统错误，请联系管理员！");
            }
        })
    }
</script>
</html>